body{
    margin: 0;
    padding: 0;
    background-color: rgb(246, 242, 242);
    /* overflow: hidden; */
}


#sll{
    background-color:rgb(216, 204, 204) ;
}
  
  .slider{
    width:100%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 100%;
    height: 500px;
  }
  @media only screen and (max-width:800px)and(min-width:600px){
    .slide img{
        width: 800px;
        height: 500px;
      }
      .slider{
        width:800px;
        height: 500px;
        border-radius: 10px;
        overflow: hidden;
        background-size: cover;
      }
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid #f80e0e;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #f80e0e;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #f80e0e;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #f80e0e;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #f80e0e;
  }
a{
    text-decoration: none;
}
div{
    margin: 0;
    padding: 0;
}
#nav{
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 999;
    padding: 0 63px 0 12px;
}
#n1{
    width: 15px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #f80e0e
    /* #fdac2d */
    ;
}
#nav_item{
    width: 130px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #f80e0e;
    display: block;
}
#nav_item span a{
    width: 22px;
    height: 3px;
    background: #fff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    display: block;
    position: absolute;
    left: 19px;
    -webkit-transition: .5s;
    transition: .5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
#main_nav{
    background: rgba(0,0,0,0.8)url(	https://freefiremobile-a.akamaihd.net/common/web_event/official/logo-small_20210113.png) 10px 4px no-repeat;
    width: 100%;
    height: 50px;
}
#one{
    top: 16px;
    height: 3px;
    width: 22px;
}
#two{
    top: 24px;
    height: 3px;
    width: 22px;
}
#three{
    top: 32px;
    height: 3px;
    width: 22px;
}

#trn{  
    padding-top: 40px;
    font-size: 32px;
}
#trne{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #222;
    padding-top: 20px;
    text-transform: uppercase;
    word-break: break-word;
    font-family: 'Archivo Narrow', sans-serif;
}  
#tni1{
    width: 541px;
    height: 330px;
    object-fit: cover;
    padding-left: 240px;
    padding-top: 56.18px;
}
#infofm{
    text-decoration: none;
    color: #222;
    padding-top: 30px;
    word-break: break-word;
    font-family: 'Teko', sans-serif;
    font-size: 21px;
    font-weight: 600;
}
#infofms{
    text-decoration: none;
    color: #222;
    font-family: 'Archivo Narrow', sans-serif;
    padding-left: 3px;
    word-break: break-word;
    font-size: 12px;
    font-weight: 600;
}
#info{
    background-color: white;
    margin-left: 234px;
    padding-top: 21px;
    padding-left: 18px;
    width: 538px;
    height: 187px;
    display: block;
}
#infoai{
    display: block;
    line-height: 18px;
    font-size: 14px;
    color: #000000;
    word-break: break-word;
    padding-top: 13px;
    margin-bottom: 60px;
}
#lm{
    color: rgb(0, 0, 0);
    border: 2px solid black;
    font-family: 'Archivo Narrow', sans-serif;
    padding:20px 100px ;
    margin-left: 380px;
    margin-top: 50px;
    background-color: rgb(246, 242, 242);
    cursor: pointer;
}
#lm:hover{
    color: black;
    font-size: large;
    border: 3px solid rgb(0, 0, 0);
    

}
#fd{
    display: block;
    line-height: 18px;
    font-size: 14px;
    color: #666666;
    word-break: break-word;
    /* padding-top: 40px; */
    padding-bottom: 13px;
}
#join{
    line-height: 18px;
    font-size: 14px;
    color: white;
    word-break: break-word;
    margin-left: 415px;
    /* padding-bottom: 13px; */
    padding: 9px;
    background-color: #f80e0e;
    margin-top: 40px;
}


div#chari{
    background-image: url(https://dl.dir.freefiremobile.com/common/web_event/hash/24bbd8e6eba4b0d041c8283606aa3360jpg);
    margin-top: 100px;
    width: 100%;
    background-size: cover;
}
#title{
    height: 400px;
    padding-top: 113px;
    
}
#title h3{
    padding-left: 530px;
    
    color: 
    #fdac2d;
    /* #f80e0e    */
    font-size: 40px;
    font-family: 'Archivo Narrow', sans-serif;
    display: inline;
}
#abil{
    width: 54px;
    height: 44px;
    padding-left: 20px;
    
}
#title p{
    padding-left: 530px;
    color: white;
    font-family: 'Archivo Narrow', sans-serif;
}
#title a{
    display: block;
    width: 240px;
    background: #f80e0e;
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    font-family: 'Archivo Narrow', sans-serif;
    margin-left: 530px;

}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
#element{
    display: none;
}
#ap{
    width: 190px;
}
.g-footer {
    height: auto;
    padding: 20px 0 130px;
    background: #111;
    /* position: relative; */
    z-index: 9;
}
.m-foot-wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.m-language {
    line-height: 20px;
    padding: 25px 0 14px;
    width: 160px;
    text-align: right;
    float: right;
    margin: 0 auto;
    position: relative;
}.m-language .earth {
    display: inline-block;
    vertical-align: top;
    height: 20px;
    width: 20px;
    background: url(https://freefiremobile-a.akamaihd.net/ffwebsite/images/earth.png) 0 -20px no-repeat;
}.m-language .txt {
    display: inline;
    vertical-align: top;
    height: 20px;
    font-size: 14px;
    color: #888;
    padding: 0 2px;
    max-width: 80px;
}.m-language-change {
    position: absolute;
    border: 1px solid #393939;
    background: #111;
    padding-left: 10px;
    width: 100px;
    bottom: 45px;
    right: 30px;
    display: none;
}.m-foot-copyright {
    float: left;
    font-size: 0;
    padding-top: 10px;
}.m-foot-copyright .m-foot-logo {
    display: inline-block;
    vertical-align: top;
    height: 51px;
    width: 51px;
}.m-foot-copyright .txt {
    padding-top: 2px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: top;
    line-height: 24px;
    font-size: 12px;
    color: #666666;
    text-align: left;
}
#apple{
    margin-top: 90px;
    margin-left: 190px;
}






                               /* mEDIA QUARY 900PX */

